body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
}
.controls {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 150px;
    background: linear-gradient(to right, rgba(4,18,35,0.4), rgba(0,0,0,0.8));
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 16px 24px;
    margin: 20px;
    font-size: 13px;
    line-height: 2;
    color: #fff;
    text-transform: uppercase;
    outline: none;
}
h3 {
    font-weight: 300;
}
.logo {
    max-width: 100px;
    padding-bottom: 6px;
}
label {
    padding-left: 8px;
}
.input {
    font-weight: 100;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    color: #08f;
}